@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('LXGW WenKai Light'),url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@0/fonts/LXGWWenKai-Light.woff2') format('woff2')
}

@font-face{
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('LXGW WenKai'),url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@0/fonts/LXGWWenKai-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'LXGW WenKai';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('LXGW WenKai Bold'),url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@0/fonts/LXGWWenKai-Bold.woff2') format('woff2')
}

body, html {
  font-family: "LXGW WenKai","Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,"宋体",Helvetica,Tahoma,Arial,sans-serif !important;
}